html,
body {
  background: #000;
  color: #fff;
  height: 100%;
  margin: 0;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  cursor: grab;
}
svg {
  display: block;
}
.logo {
  fill: #fff;
}
.center {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.center-text {
  font-size: 1.5em;
  color: white;
  text-transform: uppercase;
  padding: 1em;
  text-decoration: none;
}

.center > a:hover {
  color: pink;
  text-decoration: underline;
}
