html,
body {
  background: #000;
  color: #fff;
  height: 100%;
  margin: 0;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  cursor: grab;
}
.marquee {
  display: block;
  left: 0;
  position: absolute;
  top: 0;
}
svg {
  display: block;
}
.logo {
  fill: #fff;
}

.center {
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.center-text {
  font-size: 1.5em;
  color: white;
  text-transform: uppercase;
  padding: 1em;
  text-decoration: none;
}
